body {
    margin: 0px;
}

.head {
    width: 100%;
    height: 162px;
    background-color: #81080F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head-right-column {
    height: 36px;
    line-height: 36px;
    text-indent: 10px;
    margin-top: 70px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}

.guiding-column {
    width: 100%;
    height: 72px;
    line-height: 72px;
    display: flex;
    flex-direction: row;
    background-color: #740000;
}

.characters1 {
    color: black;
    text-decoration: none;
    background-color: #740000;
    margin-right: 20px;
}

.characters1:hover {
    color: rgb(157, 210, 214);
}
