spring:
  datasource:
    username: root
    password: 20050915
    url: jdbc:mysql://localhost:3306/school_history_museum?useUnicode=true&characterEncoding=UTF-8&UserSSL=true
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
  web:
    resources:
      static-locations: classpath:/static/
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
# mybatis-plus configuration
mybatis-plus:
  mapper-locations: classpath*:mapperXML/*.xml
  type-aliases-package: com.y.schoolhistorymuseum.pojo